<section id="about">
        <div class="container">
            <div>
                <h3>bio</h3>
                <hr>
                {% if page.header.bio %}
                <p>{{ page.header.bio }}</p>
                {% endif %}
            </div>
            <div>
                <h3>skills</h3>
                <hr>
                {% if page.header.skills %}
                <p>{{ page.header.skills }}</p>
                {% endif %}
            </div>
        </div>
        <div class="container">
            <a href="{{ base_url_absolute }}{{ theme_var('portfolio') }}" class="btn">Portfolio</a>
            <a href="{{ base_url_absolute }}{{ url('theme://assets/') }}/{{ theme.resume|first.name }}" class="btn" target="_blank">Resume</a>
        </div>
    </section>