<header>
        <div>
            <img src="{{ page.media[header.headshot].url }}">
            <h1>
                {% if header.author.name %}
                {{ header.author.name }}
                {% else %}
                {{ site.author.name }}
                {% endif %}
            </h1>
                {% if page.content %}
                {{ page.content }}
                {% else %}
                {{ site.metadata.description }}
                {% endif %}
            {% include 'partials/social.html.twig' %}
        </div>
</header>