<nav id="nav">
    <ul id="links"> 
        {% for page in pages.children.visible %}
            {% if page.visible %}
                {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
                <li class="{{ current_page }}">
                    <a href="{{ page.url }}">
                            {{ page.menu }}
                    </a>
                 </li>
            {% endif %}
        {% endfor %}
        <li class="{{ current_page }}">
            <a href="{{ base_url_absolute }}{{ url('theme://assets/') }}/{{ theme.resume|first.name }}" target="_blank">Resume</a>
        </li>
    </ul>
    {% include 'partials/social.html.twig' %}
</nav>