{% extends 'partials/base.html.twig' %}

{% block content %}
    <article class="copy">
        <h1>{{ page.title }}</h1>
        <h3>{% for tag in page.taxonomy.tag %}
            <a class="tag" href="{{ blog.url|rtrim('/') }}/tag{{ config.system.param_sep }}{{ tag }}">{{ tag }}</a>
            {% endfor %}</h3>
        <h3>{{ page.date|date("F") }} {{ page.date|date("d") }}, {{ page.date|date("Y") }}</h3>
        {% if page.header.sliderToggle %}
        <ul class="rslides">
            {% for slide in page.header.slider %}
            <li><img src="{{ page.media[slide.slide].url() }}" alt=""></li>
            {% endfor %}
        </ul>
        {% else %}
        <img src="{{ page.media[page.header.featured].url() }}">
        {% endif %}
        <br>
        {% if page.content %}
        {{ page.content }}
        {% elseif page.header.description %}
        {{ page.header.description }}
        {% endif %}
    </article>
    {% if page.header.url %}
    <div style="text-align: center;">
        <a href="{{ page.header.url }}" class="btn" target="_blank">{% if page.header.linkText %}{{ page.header.linkText }}{% else %}View More{% endif %}
        </a>
    </div>
    {% endif %}
{% endblock %}

{% block bottom %}
    {% do assets.add('http://code.jquery.com/jquery-1.11.0.min.js', 101) %}
    {% do assets.add('theme://js/responsiveslides.min.js', 100) %} 
    {% do assets.add('theme://js/showup.js', 99) %}
    {{ assets.js()}}
<script>
  $(function() {
    $(".rslides").responsiveSlides({
        pager: true,
        pause: true,
        namespace: "centered-btns"
    });
  });
</script>
{% endblock %}
